<%- include("./hoc/header.ejs") %>
    <div class="container">
        <div class="blog-card">
            <div class="blog-img">
                <img src="image\pexels-skinny-alien-2318554.jpg" alt="">
            </div>
            <h1 class="blog-title"><%= blogs?.title %></h1>
            <p class="blog-desc"><%= blogs?.description %></p>
        </div>
    </div>
  
</body>
</html>