<%- include("./hoc/header.ejs") %>
<div class="row">
    <div class="form-container">
        <h1>Welcome Back</h1>
        <form action="/login"  class="post_form" method="post">
            <input type="email" name="email" placeholder="Email">
            <br/>
            <input type="password" name="password" placeholder="Password">
            <br/>
            <button class="create_btn" type="submit">Login</button>
        </form>
        <p>
            Are you newbie? Please <a href="/signup">Register</a>
        </p>
    </div>
</div>
</body>
</html>