<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <div class="container">
            <div>
                <h1> My Blog</h1>
            </div>
            <ul>
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/about"  class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="/login"  class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="/create-post"  class="nav-link">Post</a>
                </li>
            </ul>
        </div>
    </nav>
    <form action="/login" method="post">
        <input type="email" name="email" placeholder="Email">
        <br/>
        <br/>
        <input type="password" name="password" placeholder="Password">
        <br/>
        <br/>
        <button>Login</button>
    </form>
</body>
</html>